
<%= link_to edit_customer_registration_path do %>
  <%= image_tag @customer.get_profile_image(100,100) %>
<% end %>
<%= @customer.account%>
<p>投稿</p>
<%= link_to "フォロー(#{@customer.followings.count})", followings_customer_path(@customer), class: "nav-link" %>
<%= link_to "フォロワー(#{@customer.followers.count})", followers_customer_path(@customer), class: "nav-link" %>

<% if customer_signed_in? %>
  <%= render 'public/relationships/follow_button', customer: @customer %>
<%end%>

<%= @customer.self_introduction%><br>


<% @travels.each do |travel|%>
  <%= travel.open%>
  <%= travel.travel_start %><%= travel.travel_finish %>
  <%= link_to travel_path(travel.id) do %>
    <%= travel.travel_title%>
  <% end %>
<% end %>

