
<%= link_to edit_customer_registration_path do %>
  <%= image_tag @customer.get_profile_image(100,100) %>
<% end %>
<%= @customer.account%>
<p>いいね一覧</p>
<p>投稿</p>
<p>フォロワー中</p>
<p>フォロワー</p>
<%#= render 'public/follows/follow_button', customer: @customer %>

<% @travels.each do |travel|%>
  <%= travel.open%>
  <%= travel.travel_start %><%= travel.travel_finish %>
  <%= link_to travel_path(travel.id) do %>
    <%= travel.travel_title%>
  <% end %>
<% end %>

