<%= form_with model: @travel do |f|%>

<%= f.file_field :image,accept:"image/*" %><br />
<%= f.date_field :travel_start %>から<%= f.date_field :travel_finish %><br />
<%= f.text_field :travel_title%><br />
<%= f.select :destination, Travel.destinations.keys.map{|k| [I18n.t("enums.travel.destination.#{k}"), k]}%><br />
<%= f.radio_button :open, "true" %>
<label for="travel_open_true">公開</label>
<%= f.radio_button :open, "false" %>
<label for="travel_open_false">非公開</label></br>
<%= f.submit "登録" %>
<%end%>
