
<div class="container">
  <h4 class="mt-5 mb-3 d-flex align-items-center justify-content-center"><span class="bg-silver"><strong>　管理者</strong>ログイン　</span></h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table class="col-6 mx-auto">
     <tr>
       <div class="field">
        <td style="width: 20%">
          <%= f.label :"メールアドレス" %>
        </td>
        <td style="width: 40%">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"w-100 mb-3" %>
        </td>
       </div>
     </tr>
     <tr>
      <div class="field">
       <td>
        <%= f.label :"パスワード" %><br />
       </td>
       <td>
        <%= f.password_field :password, autocomplete: "current-password",class:"w-100 mb-5" %>
       </td>
      </div>
     </tr>
     <tr>
       <td></td>
       <td>
        <div class="actions">
          <%= f.submit "ログイン",class:"btn btn-primary w-50"%>
        </div>
       </td>
     </tr>
   </table>
  <% end %>
  <%= render "admin/shared/links" %>
</div>