<div class="container mt-5">
  <div class="row">
    <div class="col-7 bg-info-comment border-bottom mx-auto">
      <div class="d-flex flex-column my-2">
        <div class="d-flex justify-content-center text-white"><%= @travel.travel_start.strftime('%Y/%m/%d')%>〜<%= @travel.travel_finish.strftime('%Y/%m/%d')%></div>
        <%= link_to travel_path(@travel),class:"mx-auto" do %>
          <h3 class="mb-0 travel-index-title text-white"><strong><%= @travel.travel_title%></strong></h3>
        <%end%>
      </div>
    </div>
  </div>
  <div class="row comment-new-row mb-5">
    <div class="col-7 bg-light mx-auto">
      <div class="mx-auto my-2">
        <% if customer_signed_in? %>
          <%= form_with model: [@travel,@comment] do |f|%>
          <%= f.text_field :review,style: "width:80%"%>
          <%= f.submit "コメント",style: "width:19%"%>
          <%end%>
        <%end%>
      </div>
      <div>
        <% @comments.each do |comment|%>
          <div class="my-2">
            <%if @travel.customer == comment.customer %>
              <div class="d-flex flex-row-reverse">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column mt-2 mr-2">
                    <%= link_to customer_path(comment.customer_id) do %>
                      <%= image_tag comment.customer.get_profile_image(50,50),class:"rounded-circle border"%>
                    <% end %>
                    <div class="mx-auto"><%= comment.customer.account%></div>
                  </div>
                </div>
                <div class="balloon-right">
                  <%= comment.review %>
                  <%= link_to travel_comment_path(@travel,comment),method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                    <i class="fas fa-times-circle"></i>
                  <%end%>
                </div><br>
              </div>
            <%else%>
              <div class="d-flex flex-row">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column mt-2 ml-2">
                    <%= link_to customer_path(comment.customer_id) do %>
                      <%= image_tag comment.customer.get_profile_image(50,50),class:"rounded-circle border"%>
                    <% end %>
                    <div class="mx-auto"><%= comment.customer.account%></div>
                  </div>
                </div>
                <div class="balloon-left">
                  <%= comment.review %>
                  <%= link_to travel_comment_path(@travel,comment),method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                    <i class="fas fa-times-circle"></i>
                  <%end%>
                </div><br>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

