
<table>
  <tr>
    <th>会員ID</th>
    <th>プロフィール写真</th>
    <th>名前</th>
    <th>アカウント名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td>
      <%= link_to admin_customer_path(customer.id) do %>
        <%= image_tag customer.get_profile_image(100,100) %>
      <% end %>
    </td>
    <td><%= customer.name %></td>
    <td><%= customer.account %></td>
    <td><%= customer.email %></td>
    <td><%= customer.is_active %></td>
  </tr>
<% end %>
</table>






