<div class="jumbotron2 mb-n4 d-flex align-items-center">
  <div class="mx-auto" style="width: 30%;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :account,style: "width:100%",class:"login-bg mb-3", autofocus: true, autocomplete: "account", placeholder: "アカウント名" %><br>
      <%= f.password_field :password,style: "width:100%",class:"login-bg mb-3", autocomplete: "current-password" , placeholder: "パスワード"%>
      <div>
        <%= f.submit "Login" ,class:"btn btn-light btn-lg login-btn mx-auto"%>
      </div>
    <% end %>
  </div>
</div>
<div>
  <p class="mb-0 mt-n3 text-right text-muted">Image by
  <%= link_to"Dariusz Sankowski","https://pixabay.com/users/dariuszsankowski-1441456/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1130731",class:"text-muted" %>
  from
  <%= link_to"Pixabay","https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1130731",class:"text-muted"%>
  </p>
</div>

