<!DOCTYPE html>
<html>
  <head>
    <title>Retravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm border-bottom border-dark sticky-top bg-dark d-flex align-items-center justify-content-between">

    <% if admin_signed_in? %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete,class:"header-logout ml-2"%>
      <diV><a class=hp-title href="/admin">Re.Travel</a></diV>
      <div>
        <%= link_to "ユーザー一覧",admin_root_path,class:"header-logout mr-2"%>
        <%= link_to "投稿一覧",admin_travels_path,class:"header-logout mr-2"%>
      </div>
    <% elsif customer_signed_in? %>
      <div>
        <%= link_to edit_customer_registration_path do%>
          <%= image_tag current_customer.get_profile_image(50,50),class:"rounded-circle mr-3 ml-2" %>
        <%end%>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class:"header-logout" %>
        <%= link_to "退会する", unsubscrib_customer_path(current_customer.id),class:"header-withdrawal"%>
      </div>
      <diV><a class=hp-title href="/">Re.Travel</a></diV>
      <diV class="header-fas">
        <%= link_to customers_my_page_path do%>
          <i class="fas fa-user fa-2x fas-font-color mr-4"></i>
        <%end%>
        <%= link_to root_path do%>
          <i class="fas fa-users fa-2x fas-font-color mr-4"></i>
        <%end%>
        <%=link_to search_customers_path do%>
          <i class="fas fa-search fa-2x fas-font-color"></i>
        <%end%>
      </diV>
    <% else %>
      <div>
        <%= image_tag 'no_image.jpg', size: "50x50",class:"rounded-circle mr-3 ml-2" %>
        <%= link_to "ログイン",new_customer_session_path,class:"header-login"%>
        <%= link_to "サインイン",new_customer_registration_path,class:"header-signin"%>
      </div>
      <diV><a class=hp-title href="/">Re.Travel</a></diV>
      <div class="header-fas d-flex justify-content-end">
        <%= link_to root_path do%>
          <i class="fas fa-users fa-2x fas-font-color mr-4"></i>
        <%end%>
        <%=link_to search_customers_path do%>
          <i class="fas fa-search fa-2x fas-font-color mr-4"></i>
        <%end%>
      </div>
    <% end %>

    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>

  </body>
</html>
