<!DOCTYPE html>
<html>
  <head>
    <title>Retravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      <%= link_to "プロフィール編集", edit_customer_registration_path %>
      <%= link_to "わたし", customers_my_page_path %>
      <%= link_to "みんな", root_path %>
    <% else %>
      <%= link_to new_customer_session_path do%>
        <%= image_tag 'no_image', size: "50x50" %>
      <%end%>
      <%= link_to "みんな", root_path %>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
